<h1>Hello <%= current_user.name%></h1>
<p>Welcome to Friends App.</p>
<p>This is application is for keeping a good record of your friends and their contacts.</p>
<p>We are currently working on adding more functionalities like:</p>
<ol>
  <li>scheduling calls</li>
  <li>Direct email messaging</li>
  <li>Social media interactions</li>
</ol>